.App {
  text-align: center;
  padding: 10px;
}

.page {
  border: 2px solid #282c34;
}

.page-content {
  padding: 10px;
}

.movie-item {
  display: inline-grid;
  padding-right: 10px;
  max-width: 300px;
  
  > img {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }

  p {
    margin: 0;

    > .bold {
      font-weight: bold;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }
  
    &:last-child {
      margin-bottom: 25px
    }
  }

  > h3 {
    word-wrap: break-word;
  }
}

img {
  width: 300px;
  height: 400px;
}

button {
  margin: 1px;
}

.page-index {
  padding-bottom: 10px;
}
